<article *ngIf="cocktail" class="app-article app-main__drinks--coctail">
	<section class="app-article__block">
		<h2 class="app-article__block--title">{{ cocktail.strDrink }}</h2>
		<p><strong>Category:</strong> {{ cocktail.strCategory }}</p>
		<p><strong>Alcoholic:</strong> {{ cocktail.strAlcoholic }}</p>
		<p><strong>Glass:</strong> {{ cocktail.strGlass }}</p>
		<p><strong>Instructions:</strong> {{ cocktail.strInstructions }}</p>
		<h3 class="app-article__block--subtitle">Ingredients</h3>
		<ul>
			<li *ngFor="let ingredient of ingredients">
				{{ ingredient.name }} {{ ingredient.measure }}
			</li>
		</ul>
	</section>
	<app-image [src]="cocktail.strDrinkThumb" [alt]="cocktail.strDrink"></app-image>
</article>