// BEM

$max-width: 1024px;
$min-width: 360px;
$primary-color: #007bff;
$secondary-color: #6c757d;
$dark-color: #111111;
$light-color: #cccccc;
$highlight-color: #ffc107;
$font-family: 'Arial, sans-serif';

@mixin container {
    box-sizing: border-box;
    display: flex;
    max-width: $max-width;
    min-width: $min-width;
    margin: 0 auto;
    padding: 1em;
    width: 100%;
}

* {
    color: $dark-color;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    display: flex;
    justify-content: center;
}

#root {
    min-height: 100vh;
    min-width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.container {
    @include container;
}

.main{
    &__header {
        background-color: $secondary-color;
        border-radius: .5em;
        box-sizing: border-box;
        margin-bottom: 1em;
        padding: .5em 1em;
        position: sticky;
        top: 1em;

        &__title {
            color: white;
            font-size: xx-large;
        }
    }
}

.aside {
    display: flex;
    min-width: 240px;
    max-width: 240px;
    padding-right: 1em;

    &__nav {
        background-color: $primary-color;
        border-radius: .5em;
        display: flex;
        height: fit-content;
        flex-direction: column;
        padding: 1em;
        position: sticky;
        top: 1em;
        width: 100%;

        &__link {
            color: white;
            font-weight: 700;
            font-size: large;

            &--active {
                text-decoration: underline;
            }

            &:not(:last-child) {
                margin-bottom: 1em;
            }
        }
    }
}

.drinks{
    &__coctail{    
        display: flex;
    
        &:not(:last-child) {
            border-bottom: 1px solid $highlight-color;
            margin-bottom: 1em;
            padding-bottom: 1em;
        }
    }
}

.article {
    margin-right: 1em;
    width: 100%;

    &__paragraph {
        margin-bottom: .25em;
    }

    &__strong {
        font-weight: bold;
    }

    &__list-item {
        list-style-type: decimal;
        margin: .25em 1em;
        padding: .25em;
        font-size: 1em;
        color: #333;
        line-height: 1.5;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: .25em;
    }

    &__title {
        font-size: xx-large;
        margin-bottom: .5em;
    }

    &__subtitle {
        font-size: x-large;
        margin-bottom: .5em;
    }
}

.image {
    align-self: baseline;
    border-radius: .5em;
    display: flex;
    height: auto;
    max-width: 200px;
}

.footer {
    @include container;
    background-color: $highlight-color;
    border-radius: .5em .5em 0 0;
    display: flex;
    justify-content: space-between;
    font-size: small;
}

@media (max-width: 800px) {
    .aside {
        min-width: 100%;
        max-width: 100%;

        &__nav {
            flex-direction: row;
            margin-bottom: 1em;

            &__link:not(:last-child) {
                margin-bottom: 0;
                padding-right: 1em;
            }
        }
    }

    .container {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .article {
        display: flex;
        flex-direction: column-reverse;
    }

    .article__title {
        margin-top: .5em;
    }
}
